<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
	<persistence-unit name="accountingUnit" transaction-type="RESOURCE_LOCAL" >
		<properties>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLInnoDBDialect" />
            <property name="hibernate.show_sql" value="false" />
        </properties>
		
		<class>com.xActv4.entity.BaseEntity</class>
		<class>com.xActv4.entity.accounting.master.GeneralLedgerType</class>
	</persistence-unit>
</persistence>